/*Contains defaults to be used across websites*/
html {
  font-size: 1rem;
}

.no-mp {
  margin: 0px;
  padding: 0px;
}
.bg-light-2 {
  background-color: #fcfcfc !important;
}
input:focus {
  border: 1px solid #ced4da !important;
  border-right: none !important;
  box-shadow: none !important;
}
a:hover {
  text-decoration: none !important;
}
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: justify;
  overflow-x: hidden;
  line-height: 1.4 !important;
}
.background-cover {
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 480px) {
  .background-cover {
    min-height: 0px !important;
  }
}
.background-fill {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 480px) {
  .background-fill {
    min-height: 0px !important;
  }
}
.background-contain {
  background-repeat: no-repeat;
  background-size: contain;
}
.red-dash {
  width: 60px;
  height: 3px;
  background-color: #cc0001;
  margin-top: -0.5rem;
}
.trasition-time-1 {
  transition: 0.6s;
}
.overlay-grey:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
.pointer-cursor:hover {
  cursor: pointer;
}
/*Overriding default bootstrap colors*/
.btn-outline-danger {
  color: #cc0001;
  background-color: transparent;
  background-image: none;
  border-color: #cc0001;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #cc0001;
  border-color: #cc0001;
}
.border-danger-hover:hover {
  border-color: #cc0001 !important;
}
.border-danger {
  border-color: #cc0001 !important;
}
.text-danger {
  color: #cc0001 !important;
}
.inline-white {
  content: '';
  position: absolute;
  border: #fff solid 4px;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  opacity: 0.8;
}
.nav-link.active {
  color: #cc0001 !important;
}
.hvr-trim {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-trim:before {
  content: '';
  position: absolute;
  border: #fff solid 4px;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.hvr-trim:hover:before,
.hvr-trim:focus:before,
.hvr-trim:active:before {
  opacity: 1;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: transform;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
.hvr-grow-2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: transform;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  z-index: 10;
}
.hvr-grow-2:hover,
.hvr-grow-2:focus,
.hvr-grow-2:active {
  -webkit-transform: scale(1.075);
  transform: scale(1.075);
  z-index: 20;
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #cc0001 !important;
  border-color: #8F0000 !important;
}
.page-item .page-link {
  z-index: 1;
  color: #cc0001;
  background-color: #fff !important;
  border-color: #dee2e6 !important;
}
.hvr-float-2 {
  transition: 0.8s all;
}
.hvr-float-2:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-2:hover:before,
.hvr-float-2:focus:before,
.hvr-float-2:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.hvr-float-2:hover,
.hvr-float-2:focus,
.hvr-float-2:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.border-custom-bottom {
  height: 1.25px;
  background-color: #EFB2B2;
  background-image: linear-gradient(to right, #A30000 60%, #D63333 60%, #E57F7F 70%, #EFB2B2 70%);
  background-image: -ms-linear-gradient(to right, #A30000 60%, #D63333 60%, #E57F7F 70%, #71DBD4 70%);
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(60%, #A30000), color-stop(60%, #D63333), color-stop(70%, #E57F7F), color-stop(70%, #EFB2B2));
   background-image: -moz-gradient(linear, left bottom, right bottom, color-stop(60%, #A30000), color-stop(60%, #D63333), color-stop(70%, #E57F7F), color-stop(70%, #EFB2B2));
}
.footerabout {
    padding-left: 70px;
}

.footerlinks {
    float: right;
    text-align: right;
    padding-right: 90px;
}

.slidertext{
font-size: 40px !important;
color: white;
margin-top: -30%;
margin-right: 40%
}
.sklidrtextp{
  font-size: 18px !important;
  color: white;
  
  margin-right: 40%
  }
#so{
  color: black;
}
:hover .so{
  color: rgb(177, 17, 17) !important;